--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9
-- Dumped by pg_dump version 16.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: activitysubtypeenum; Type: TYPE; Schema: public; Owner: learnhouse
--

CREATE TYPE public.activitysubtypeenum AS ENUM (
    'SUBTYPE_DYNAMIC_PAGE',
    'SUBTYPE_VIDEO_YOUTUBE',
    'SUBTYPE_VIDEO_HOSTED',
    'SUBTYPE_DOCUMENT_PDF',
    'SUBTYPE_DOCUMENT_DOC',
    'SUBTYPE_ASSIGNMENT_ANY',
    'SUBTYPE_CUSTOM'
);


ALTER TYPE public.activitysubtypeenum OWNER TO learnhouse;

--
-- Name: activitytypeenum; Type: TYPE; Schema: public; Owner: learnhouse
--

CREATE TYPE public.activitytypeenum AS ENUM (
    'TYPE_VIDEO',
    'TYPE_DOCUMENT',
    'TYPE_DYNAMIC',
    'TYPE_ASSIGNMENT',
    'TYPE_CUSTOM'
);


ALTER TYPE public.activitytypeenum OWNER TO learnhouse;

--
-- Name: assignmenttasktypeenum; Type: TYPE; Schema: public; Owner: learnhouse
--

CREATE TYPE public.assignmenttasktypeenum AS ENUM (
    'FILE_SUBMISSION',
    'QUIZ',
    'FORM',
    'OTHER'
);


ALTER TYPE public.assignmenttasktypeenum OWNER TO learnhouse;

--
-- Name: assignmentusersubmissionstatus; Type: TYPE; Schema: public; Owner: learnhouse
--

CREATE TYPE public.assignmentusersubmissionstatus AS ENUM (
    'PENDING',
    'SUBMITTED',
    'GRADED',
    'LATE',
    'NOT_SUBMITTED'
);


ALTER TYPE public.assignmentusersubmissionstatus OWNER TO learnhouse;

--
-- Name: blocktypeenum; Type: TYPE; Schema: public; Owner: learnhouse
--

CREATE TYPE public.blocktypeenum AS ENUM (
    'BLOCK_QUIZ',
    'BLOCK_VIDEO',
    'BLOCK_DOCUMENT_PDF',
    'BLOCK_IMAGE',
    'BLOCK_CUSTOM'
);


ALTER TYPE public.blocktypeenum OWNER TO learnhouse;

--
-- Name: gradingtypeenum; Type: TYPE; Schema: public; Owner: learnhouse
--

CREATE TYPE public.gradingtypeenum AS ENUM (
    'ALPHABET',
    'NUMERIC',
    'PERCENTAGE'
);


ALTER TYPE public.gradingtypeenum OWNER TO learnhouse;

--
-- Name: paymentpricetypeenum; Type: TYPE; Schema: public; Owner: learnhouse
--

CREATE TYPE public.paymentpricetypeenum AS ENUM (
    'CUSTOMER_CHOICE',
    'FIXED_PRICE'
);


ALTER TYPE public.paymentpricetypeenum OWNER TO learnhouse;

--
-- Name: paymentproducttypeenum; Type: TYPE; Schema: public; Owner: learnhouse
--

CREATE TYPE public.paymentproducttypeenum AS ENUM (
    'SUBSCRIPTION',
    'ONE_TIME'
);


ALTER TYPE public.paymentproducttypeenum OWNER TO learnhouse;

--
-- Name: paymentproviderenum; Type: TYPE; Schema: public; Owner: learnhouse
--

CREATE TYPE public.paymentproviderenum AS ENUM (
    'STRIPE'
);


ALTER TYPE public.paymentproviderenum OWNER TO learnhouse;

--
-- Name: paymentstatusenum; Type: TYPE; Schema: public; Owner: learnhouse
--

CREATE TYPE public.paymentstatusenum AS ENUM (
    'PENDING',
    'COMPLETED',
    'ACTIVE',
    'CANCELLED',
    'FAILED',
    'REFUNDED'
);


ALTER TYPE public.paymentstatusenum OWNER TO learnhouse;

--
-- Name: resourceauthorshipenum; Type: TYPE; Schema: public; Owner: learnhouse
--

CREATE TYPE public.resourceauthorshipenum AS ENUM (
    'CREATOR',
    'CONTRIBUTOR',
    'MAINTAINER',
    'REPORTER'
);


ALTER TYPE public.resourceauthorshipenum OWNER TO learnhouse;

--
-- Name: resourceauthorshipstatusenum; Type: TYPE; Schema: public; Owner: learnhouse
--

CREATE TYPE public.resourceauthorshipstatusenum AS ENUM (
    'ACTIVE',
    'PENDING',
    'INACTIVE'
);


ALTER TYPE public.resourceauthorshipstatusenum OWNER TO learnhouse;

--
-- Name: roletypeenum; Type: TYPE; Schema: public; Owner: learnhouse
--

CREATE TYPE public.roletypeenum AS ENUM (
    'TYPE_ORGANIZATION',
    'TYPE_ORGANIZATION_API_TOKEN',
    'TYPE_GLOBAL'
);


ALTER TYPE public.roletypeenum OWNER TO learnhouse;

--
-- Name: statusenum; Type: TYPE; Schema: public; Owner: learnhouse
--

CREATE TYPE public.statusenum AS ENUM (
    'STATUS_IN_PROGRESS',
    'STATUS_COMPLETED',
    'STATUS_PAUSED',
    'STATUS_CANCELLED'
);


ALTER TYPE public.statusenum OWNER TO learnhouse;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.activity (
    name character varying NOT NULL,
    activity_type public.activitytypeenum NOT NULL,
    activity_sub_type public.activitysubtypeenum NOT NULL,
    content json,
    details json,
    published boolean NOT NULL,
    id integer NOT NULL,
    org_id integer,
    course_id integer,
    activity_uuid character varying NOT NULL,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.activity OWNER TO learnhouse;

--
-- Name: activity_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.activity_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activity_id_seq OWNER TO learnhouse;

--
-- Name: activity_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.activity_id_seq OWNED BY public.activity.id;


--
-- Name: assignment; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.assignment (
    title character varying NOT NULL,
    description character varying NOT NULL,
    due_date character varying NOT NULL,
    published boolean,
    grading_type public.gradingtypeenum NOT NULL,
    id integer NOT NULL,
    creation_date character varying,
    update_date character varying,
    assignment_uuid character varying NOT NULL,
    org_id integer,
    course_id integer,
    chapter_id integer,
    activity_id integer
);


ALTER TABLE public.assignment OWNER TO learnhouse;

--
-- Name: assignment_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.assignment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assignment_id_seq OWNER TO learnhouse;

--
-- Name: assignment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.assignment_id_seq OWNED BY public.assignment.id;


--
-- Name: assignmenttask; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.assignmenttask (
    title character varying NOT NULL,
    description character varying NOT NULL,
    hint character varying NOT NULL,
    reference_file character varying,
    assignment_type public.assignmenttasktypeenum NOT NULL,
    contents json,
    max_grade_value integer NOT NULL,
    id integer NOT NULL,
    assignment_task_uuid character varying NOT NULL,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL,
    assignment_id integer,
    org_id integer,
    course_id integer,
    chapter_id integer,
    activity_id integer
);


ALTER TABLE public.assignmenttask OWNER TO learnhouse;

--
-- Name: assignmenttask_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.assignmenttask_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assignmenttask_id_seq OWNER TO learnhouse;

--
-- Name: assignmenttask_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.assignmenttask_id_seq OWNED BY public.assignmenttask.id;


--
-- Name: assignmenttasksubmission; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.assignmenttasksubmission (
    assignment_task_submission_uuid character varying NOT NULL,
    task_submission json,
    grade integer NOT NULL,
    task_submission_grade_feedback character varying NOT NULL,
    assignment_type public.assignmenttasktypeenum NOT NULL,
    user_id integer,
    activity_id integer,
    course_id integer,
    chapter_id integer,
    assignment_task_id integer,
    id integer NOT NULL,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.assignmenttasksubmission OWNER TO learnhouse;

--
-- Name: assignmenttasksubmission_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.assignmenttasksubmission_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assignmenttasksubmission_id_seq OWNER TO learnhouse;

--
-- Name: assignmenttasksubmission_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.assignmenttasksubmission_id_seq OWNED BY public.assignmenttasksubmission.id;


--
-- Name: assignmentusersubmission; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.assignmentusersubmission (
    id integer NOT NULL,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL,
    assignmentusersubmission_uuid character varying NOT NULL,
    submission_status public.assignmentusersubmissionstatus NOT NULL,
    grade integer NOT NULL,
    user_id integer,
    assignment_id integer
);


ALTER TABLE public.assignmentusersubmission OWNER TO learnhouse;

--
-- Name: assignmentusersubmission_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.assignmentusersubmission_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assignmentusersubmission_id_seq OWNER TO learnhouse;

--
-- Name: assignmentusersubmission_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.assignmentusersubmission_id_seq OWNED BY public.assignmentusersubmission.id;


--
-- Name: block; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.block (
    id integer NOT NULL,
    block_type public.blocktypeenum NOT NULL,
    content json,
    org_id integer,
    course_id integer,
    chapter_id integer,
    activity_id integer,
    block_uuid character varying NOT NULL,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.block OWNER TO learnhouse;

--
-- Name: block_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.block_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.block_id_seq OWNER TO learnhouse;

--
-- Name: block_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.block_id_seq OWNED BY public.block.id;


--
-- Name: chapter; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.chapter (
    name character varying NOT NULL,
    description character varying,
    thumbnail_image character varying,
    org_id integer,
    course_id integer,
    id integer NOT NULL,
    chapter_uuid character varying NOT NULL,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.chapter OWNER TO learnhouse;

--
-- Name: chapter_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.chapter_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.chapter_id_seq OWNER TO learnhouse;

--
-- Name: chapter_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.chapter_id_seq OWNED BY public.chapter.id;


--
-- Name: chapteractivity; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.chapteractivity (
    id integer NOT NULL,
    "order" integer NOT NULL,
    chapter_id bigint,
    activity_id bigint,
    course_id bigint,
    org_id integer,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.chapteractivity OWNER TO learnhouse;

--
-- Name: chapteractivity_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.chapteractivity_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.chapteractivity_id_seq OWNER TO learnhouse;

--
-- Name: chapteractivity_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.chapteractivity_id_seq OWNED BY public.chapteractivity.id;


--
-- Name: collection; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.collection (
    name character varying NOT NULL,
    public boolean NOT NULL,
    description character varying,
    id integer NOT NULL,
    org_id bigint,
    collection_uuid character varying NOT NULL,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.collection OWNER TO learnhouse;

--
-- Name: collection_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.collection_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.collection_id_seq OWNER TO learnhouse;

--
-- Name: collection_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.collection_id_seq OWNED BY public.collection.id;


--
-- Name: collectioncourse; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.collectioncourse (
    id integer NOT NULL,
    collection_id integer,
    course_id integer,
    org_id integer,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.collectioncourse OWNER TO learnhouse;

--
-- Name: collectioncourse_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.collectioncourse_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.collectioncourse_id_seq OWNER TO learnhouse;

--
-- Name: collectioncourse_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.collectioncourse_id_seq OWNED BY public.collectioncourse.id;


--
-- Name: course; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.course (
    name character varying NOT NULL,
    description character varying,
    about character varying,
    learnings character varying,
    tags character varying,
    thumbnail_image character varying,
    public boolean NOT NULL,
    open_to_contributors boolean NOT NULL,
    id integer NOT NULL,
    org_id integer,
    course_uuid character varying NOT NULL,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.course OWNER TO learnhouse;

--
-- Name: course_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.course_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.course_id_seq OWNER TO learnhouse;

--
-- Name: course_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.course_id_seq OWNED BY public.course.id;


--
-- Name: coursechapter; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.coursechapter (
    id integer NOT NULL,
    "order" integer NOT NULL,
    course_id integer,
    chapter_id integer,
    org_id integer,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.coursechapter OWNER TO learnhouse;

--
-- Name: coursechapter_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.coursechapter_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.coursechapter_id_seq OWNER TO learnhouse;

--
-- Name: coursechapter_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.coursechapter_id_seq OWNED BY public.coursechapter.id;


--
-- Name: courseupdate; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.courseupdate (
    id integer NOT NULL,
    courseupdate_uuid character varying NOT NULL,
    title character varying NOT NULL,
    content character varying NOT NULL,
    course_id integer,
    linked_activity_uuids character varying,
    org_id integer,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.courseupdate OWNER TO learnhouse;

--
-- Name: courseupdate_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.courseupdate_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.courseupdate_id_seq OWNER TO learnhouse;

--
-- Name: courseupdate_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.courseupdate_id_seq OWNED BY public.courseupdate.id;


--
-- Name: install; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.install (
    step integer NOT NULL,
    data json,
    id integer NOT NULL,
    install_uuid character varying,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.install OWNER TO learnhouse;

--
-- Name: install_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.install_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.install_id_seq OWNER TO learnhouse;

--
-- Name: install_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.install_id_seq OWNED BY public.install.id;


--
-- Name: organization; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.organization (
    name character varying NOT NULL,
    description character varying,
    about character varying,
    socials json,
    links json,
    scripts json,
    logo_image character varying,
    thumbnail_image character varying,
    previews json,
    explore boolean,
    label character varying,
    slug character varying NOT NULL,
    email character varying NOT NULL,
    id integer NOT NULL,
    org_uuid character varying NOT NULL,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.organization OWNER TO learnhouse;

--
-- Name: organization_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.organization_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.organization_id_seq OWNER TO learnhouse;

--
-- Name: organization_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.organization_id_seq OWNED BY public.organization.id;


--
-- Name: organizationconfig; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.organizationconfig (
    id integer NOT NULL,
    org_id bigint,
    config json,
    creation_date character varying,
    update_date character varying
);


ALTER TABLE public.organizationconfig OWNER TO learnhouse;

--
-- Name: organizationconfig_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.organizationconfig_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.organizationconfig_id_seq OWNER TO learnhouse;

--
-- Name: organizationconfig_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.organizationconfig_id_seq OWNED BY public.organizationconfig.id;


--
-- Name: paymentsconfig; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.paymentsconfig (
    enabled boolean NOT NULL,
    active boolean NOT NULL,
    provider public.paymentproviderenum NOT NULL,
    provider_specific_id character varying,
    provider_config json,
    id integer NOT NULL,
    org_id bigint,
    creation_date timestamp without time zone NOT NULL,
    update_date timestamp without time zone NOT NULL
);


ALTER TABLE public.paymentsconfig OWNER TO learnhouse;

--
-- Name: paymentsconfig_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.paymentsconfig_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.paymentsconfig_id_seq OWNER TO learnhouse;

--
-- Name: paymentsconfig_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.paymentsconfig_id_seq OWNED BY public.paymentsconfig.id;


--
-- Name: paymentscourse; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.paymentscourse (
    course_id bigint,
    id integer NOT NULL,
    payment_product_id bigint,
    org_id bigint,
    creation_date timestamp without time zone NOT NULL,
    update_date timestamp without time zone NOT NULL
);


ALTER TABLE public.paymentscourse OWNER TO learnhouse;

--
-- Name: paymentscourse_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.paymentscourse_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.paymentscourse_id_seq OWNER TO learnhouse;

--
-- Name: paymentscourse_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.paymentscourse_id_seq OWNED BY public.paymentscourse.id;


--
-- Name: paymentsproduct; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.paymentsproduct (
    name character varying NOT NULL,
    description character varying,
    product_type public.paymentproducttypeenum NOT NULL,
    price_type public.paymentpricetypeenum NOT NULL,
    benefits character varying NOT NULL,
    amount double precision NOT NULL,
    currency character varying NOT NULL,
    id integer NOT NULL,
    org_id bigint,
    payments_config_id bigint,
    provider_product_id character varying,
    creation_date timestamp without time zone NOT NULL,
    update_date timestamp without time zone NOT NULL
);


ALTER TABLE public.paymentsproduct OWNER TO learnhouse;

--
-- Name: paymentsproduct_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.paymentsproduct_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.paymentsproduct_id_seq OWNER TO learnhouse;

--
-- Name: paymentsproduct_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.paymentsproduct_id_seq OWNED BY public.paymentsproduct.id;


--
-- Name: paymentsuser; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.paymentsuser (
    status public.paymentstatusenum NOT NULL,
    provider_specific_data json,
    id integer NOT NULL,
    user_id bigint,
    org_id bigint,
    payment_product_id bigint,
    creation_date timestamp without time zone NOT NULL,
    update_date timestamp without time zone NOT NULL
);


ALTER TABLE public.paymentsuser OWNER TO learnhouse;

--
-- Name: paymentsuser_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.paymentsuser_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.paymentsuser_id_seq OWNER TO learnhouse;

--
-- Name: paymentsuser_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.paymentsuser_id_seq OWNED BY public.paymentsuser.id;


--
-- Name: resourceauthor; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.resourceauthor (
    id integer NOT NULL,
    resource_uuid character varying NOT NULL,
    user_id integer,
    authorship public.resourceauthorshipenum NOT NULL,
    authorship_status public.resourceauthorshipstatusenum NOT NULL,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.resourceauthor OWNER TO learnhouse;

--
-- Name: resourceauthor_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.resourceauthor_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.resourceauthor_id_seq OWNER TO learnhouse;

--
-- Name: resourceauthor_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.resourceauthor_id_seq OWNED BY public.resourceauthor.id;


--
-- Name: role; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.role (
    name character varying NOT NULL,
    description character varying,
    rights json,
    id integer NOT NULL,
    org_id integer,
    role_type public.roletypeenum NOT NULL,
    role_uuid character varying NOT NULL,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.role OWNER TO learnhouse;

--
-- Name: role_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.role_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.role_id_seq OWNER TO learnhouse;

--
-- Name: role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.role_id_seq OWNED BY public.role.id;


--
-- Name: trail; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.trail (
    org_id integer,
    user_id integer,
    id integer NOT NULL,
    trail_uuid character varying NOT NULL,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.trail OWNER TO learnhouse;

--
-- Name: trail_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.trail_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.trail_id_seq OWNER TO learnhouse;

--
-- Name: trail_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.trail_id_seq OWNED BY public.trail.id;


--
-- Name: trailrun; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.trailrun (
    id integer NOT NULL,
    data json,
    status public.statusenum NOT NULL,
    trail_id integer,
    course_id integer,
    org_id integer,
    user_id integer,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.trailrun OWNER TO learnhouse;

--
-- Name: trailrun_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.trailrun_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.trailrun_id_seq OWNER TO learnhouse;

--
-- Name: trailrun_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.trailrun_id_seq OWNED BY public.trailrun.id;


--
-- Name: trailstep; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.trailstep (
    id integer NOT NULL,
    complete boolean NOT NULL,
    teacher_verified boolean NOT NULL,
    grade character varying NOT NULL,
    data json,
    trailrun_id integer,
    trail_id integer,
    activity_id integer,
    course_id integer,
    org_id integer,
    user_id integer,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.trailstep OWNER TO learnhouse;

--
-- Name: trailstep_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.trailstep_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.trailstep_id_seq OWNER TO learnhouse;

--
-- Name: trailstep_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.trailstep_id_seq OWNED BY public.trailstep.id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public."user" (
    username character varying NOT NULL,
    first_name character varying NOT NULL,
    last_name character varying NOT NULL,
    email character varying NOT NULL,
    avatar_image character varying,
    bio character varying,
    details json,
    profile json,
    id integer NOT NULL,
    password character varying NOT NULL,
    user_uuid character varying NOT NULL,
    email_verified boolean NOT NULL,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public."user" OWNER TO learnhouse;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_id_seq OWNER TO learnhouse;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: usergroup; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.usergroup (
    name character varying NOT NULL,
    description character varying NOT NULL,
    id integer NOT NULL,
    org_id integer,
    usergroup_uuid character varying NOT NULL,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.usergroup OWNER TO learnhouse;

--
-- Name: usergroup_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.usergroup_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usergroup_id_seq OWNER TO learnhouse;

--
-- Name: usergroup_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.usergroup_id_seq OWNED BY public.usergroup.id;


--
-- Name: usergroupresource; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.usergroupresource (
    id integer NOT NULL,
    usergroup_id integer,
    resource_uuid character varying NOT NULL,
    org_id integer,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.usergroupresource OWNER TO learnhouse;

--
-- Name: usergroupresource_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.usergroupresource_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usergroupresource_id_seq OWNER TO learnhouse;

--
-- Name: usergroupresource_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.usergroupresource_id_seq OWNED BY public.usergroupresource.id;


--
-- Name: usergroupuser; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.usergroupuser (
    id integer NOT NULL,
    usergroup_id integer,
    user_id integer,
    org_id integer,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.usergroupuser OWNER TO learnhouse;

--
-- Name: usergroupuser_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.usergroupuser_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usergroupuser_id_seq OWNER TO learnhouse;

--
-- Name: usergroupuser_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.usergroupuser_id_seq OWNED BY public.usergroupuser.id;


--
-- Name: userorganization; Type: TABLE; Schema: public; Owner: learnhouse
--

CREATE TABLE public.userorganization (
    id integer NOT NULL,
    user_id integer,
    org_id integer,
    role_id integer,
    creation_date character varying NOT NULL,
    update_date character varying NOT NULL
);


ALTER TABLE public.userorganization OWNER TO learnhouse;

--
-- Name: userorganization_id_seq; Type: SEQUENCE; Schema: public; Owner: learnhouse
--

CREATE SEQUENCE public.userorganization_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.userorganization_id_seq OWNER TO learnhouse;

--
-- Name: userorganization_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: learnhouse
--

ALTER SEQUENCE public.userorganization_id_seq OWNED BY public.userorganization.id;


--
-- Name: activity id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.activity ALTER COLUMN id SET DEFAULT nextval('public.activity_id_seq'::regclass);


--
-- Name: assignment id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignment ALTER COLUMN id SET DEFAULT nextval('public.assignment_id_seq'::regclass);


--
-- Name: assignmenttask id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignmenttask ALTER COLUMN id SET DEFAULT nextval('public.assignmenttask_id_seq'::regclass);


--
-- Name: assignmenttasksubmission id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignmenttasksubmission ALTER COLUMN id SET DEFAULT nextval('public.assignmenttasksubmission_id_seq'::regclass);


--
-- Name: assignmentusersubmission id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignmentusersubmission ALTER COLUMN id SET DEFAULT nextval('public.assignmentusersubmission_id_seq'::regclass);


--
-- Name: block id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.block ALTER COLUMN id SET DEFAULT nextval('public.block_id_seq'::regclass);


--
-- Name: chapter id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.chapter ALTER COLUMN id SET DEFAULT nextval('public.chapter_id_seq'::regclass);


--
-- Name: chapteractivity id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.chapteractivity ALTER COLUMN id SET DEFAULT nextval('public.chapteractivity_id_seq'::regclass);


--
-- Name: collection id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.collection ALTER COLUMN id SET DEFAULT nextval('public.collection_id_seq'::regclass);


--
-- Name: collectioncourse id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.collectioncourse ALTER COLUMN id SET DEFAULT nextval('public.collectioncourse_id_seq'::regclass);


--
-- Name: course id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.course ALTER COLUMN id SET DEFAULT nextval('public.course_id_seq'::regclass);


--
-- Name: coursechapter id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.coursechapter ALTER COLUMN id SET DEFAULT nextval('public.coursechapter_id_seq'::regclass);


--
-- Name: courseupdate id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.courseupdate ALTER COLUMN id SET DEFAULT nextval('public.courseupdate_id_seq'::regclass);


--
-- Name: install id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.install ALTER COLUMN id SET DEFAULT nextval('public.install_id_seq'::regclass);


--
-- Name: organization id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.organization ALTER COLUMN id SET DEFAULT nextval('public.organization_id_seq'::regclass);


--
-- Name: organizationconfig id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.organizationconfig ALTER COLUMN id SET DEFAULT nextval('public.organizationconfig_id_seq'::regclass);


--
-- Name: paymentsconfig id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.paymentsconfig ALTER COLUMN id SET DEFAULT nextval('public.paymentsconfig_id_seq'::regclass);


--
-- Name: paymentscourse id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.paymentscourse ALTER COLUMN id SET DEFAULT nextval('public.paymentscourse_id_seq'::regclass);


--
-- Name: paymentsproduct id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.paymentsproduct ALTER COLUMN id SET DEFAULT nextval('public.paymentsproduct_id_seq'::regclass);


--
-- Name: paymentsuser id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.paymentsuser ALTER COLUMN id SET DEFAULT nextval('public.paymentsuser_id_seq'::regclass);


--
-- Name: resourceauthor id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.resourceauthor ALTER COLUMN id SET DEFAULT nextval('public.resourceauthor_id_seq'::regclass);


--
-- Name: role id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.role ALTER COLUMN id SET DEFAULT nextval('public.role_id_seq'::regclass);


--
-- Name: trail id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.trail ALTER COLUMN id SET DEFAULT nextval('public.trail_id_seq'::regclass);


--
-- Name: trailrun id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.trailrun ALTER COLUMN id SET DEFAULT nextval('public.trailrun_id_seq'::regclass);


--
-- Name: trailstep id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.trailstep ALTER COLUMN id SET DEFAULT nextval('public.trailstep_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Name: usergroup id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.usergroup ALTER COLUMN id SET DEFAULT nextval('public.usergroup_id_seq'::regclass);


--
-- Name: usergroupresource id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.usergroupresource ALTER COLUMN id SET DEFAULT nextval('public.usergroupresource_id_seq'::regclass);


--
-- Name: usergroupuser id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.usergroupuser ALTER COLUMN id SET DEFAULT nextval('public.usergroupuser_id_seq'::regclass);


--
-- Name: userorganization id; Type: DEFAULT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.userorganization ALTER COLUMN id SET DEFAULT nextval('public.userorganization_id_seq'::regclass);


--
-- Data for Name: activity; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.activity (name, activity_type, activity_sub_type, content, details, published, id, org_id, course_id, activity_uuid, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: assignment; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.assignment (title, description, due_date, published, grading_type, id, creation_date, update_date, assignment_uuid, org_id, course_id, chapter_id, activity_id) FROM stdin;
\.


--
-- Data for Name: assignmenttask; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.assignmenttask (title, description, hint, reference_file, assignment_type, contents, max_grade_value, id, assignment_task_uuid, creation_date, update_date, assignment_id, org_id, course_id, chapter_id, activity_id) FROM stdin;
\.


--
-- Data for Name: assignmenttasksubmission; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.assignmenttasksubmission (assignment_task_submission_uuid, task_submission, grade, task_submission_grade_feedback, assignment_type, user_id, activity_id, course_id, chapter_id, assignment_task_id, id, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: assignmentusersubmission; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.assignmentusersubmission (id, creation_date, update_date, assignmentusersubmission_uuid, submission_status, grade, user_id, assignment_id) FROM stdin;
\.


--
-- Data for Name: block; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.block (id, block_type, content, org_id, course_id, chapter_id, activity_id, block_uuid, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: chapter; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.chapter (name, description, thumbnail_image, org_id, course_id, id, chapter_uuid, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: chapteractivity; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.chapteractivity (id, "order", chapter_id, activity_id, course_id, org_id, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: collection; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.collection (name, public, description, id, org_id, collection_uuid, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: collectioncourse; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.collectioncourse (id, collection_id, course_id, org_id, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: course; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.course (name, description, about, learnings, tags, thumbnail_image, public, open_to_contributors, id, org_id, course_uuid, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: coursechapter; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.coursechapter (id, "order", course_id, chapter_id, org_id, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: courseupdate; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.courseupdate (id, courseupdate_uuid, title, content, course_id, linked_activity_uuids, org_id, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: install; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.install (step, data, id, install_uuid, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: organization; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.organization (name, description, about, socials, links, scripts, logo_image, thumbnail_image, previews, explore, label, slug, email, id, org_uuid, creation_date, update_date) FROM stdin;
Default Organization	Default Organization	\N	{}	{}	{}			{}	f	\N	default		1	org_5b13b1da-2d5a-4f0c-8e9d-136ec3fefdc5	2025-06-15 19:16:16.975179	2025-06-15 19:16:16.975207
\.


--
-- Data for Name: organizationconfig; Type: TABLE DATA; Schema: public; Owner: learnhouse
--



--
-- Data for Name: paymentsconfig; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.paymentsconfig (enabled, active, provider, provider_specific_id, provider_config, id, org_id, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: paymentscourse; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.paymentscourse (course_id, id, payment_product_id, org_id, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: paymentsproduct; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.paymentsproduct (name, description, product_type, price_type, benefits, amount, currency, id, org_id, payments_config_id, provider_product_id, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: paymentsuser; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.paymentsuser (status, provider_specific_data, id, user_id, org_id, payment_product_id, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: resourceauthor; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.resourceauthor (id, resource_uuid, user_id, authorship, authorship_status, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: role; Type: TABLE DATA; Schema: public; Owner: learnhouse
--



--
-- Data for Name: trail; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.trail (org_id, user_id, id, trail_uuid, creation_date, update_date) FROM stdin;
1	2	1	trail_65783269-df72-4441-b2d1-c3a3fe5cf6e8	2025-06-15 19:22:23.555207	2025-06-15 19:22:23.555439
\.


--
-- Data for Name: trailrun; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.trailrun (id, data, status, trail_id, course_id, org_id, user_id, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: trailstep; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.trailstep (id, complete, teacher_verified, grade, data, trailrun_id, trail_id, activity_id, course_id, org_id, user_id, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: learnhouse
--



--
-- Data for Name: usergroup; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.usergroup (name, description, id, org_id, usergroup_uuid, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: usergroupresource; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.usergroupresource (id, usergroup_id, resource_uuid, org_id, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: usergroupuser; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.usergroupuser (id, usergroup_id, user_id, org_id, creation_date, update_date) FROM stdin;
\.


--
-- Data for Name: userorganization; Type: TABLE DATA; Schema: public; Owner: learnhouse
--

COPY public.userorganization (id, user_id, org_id, role_id, creation_date, update_date) FROM stdin;
1	1	1	1	2025-06-15 19:16:17.092232	2025-06-15 19:16:17.092244
2	2	1	1	2025-06-15 19:17:26.317780	2025-06-15 19:17:26.317792
\.


--
-- Name: activity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.activity_id_seq', 1, false);


--
-- Name: assignment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.assignment_id_seq', 1, false);


--
-- Name: assignmenttask_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.assignmenttask_id_seq', 1, false);


--
-- Name: assignmenttasksubmission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.assignmenttasksubmission_id_seq', 1, false);


--
-- Name: assignmentusersubmission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.assignmentusersubmission_id_seq', 1, false);


--
-- Name: block_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.block_id_seq', 1, false);


--
-- Name: chapter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.chapter_id_seq', 1, false);


--
-- Name: chapteractivity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.chapteractivity_id_seq', 1, false);


--
-- Name: collection_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.collection_id_seq', 1, false);


--
-- Name: collectioncourse_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.collectioncourse_id_seq', 1, false);


--
-- Name: course_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.course_id_seq', 1, false);


--
-- Name: coursechapter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.coursechapter_id_seq', 1, false);


--
-- Name: courseupdate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.courseupdate_id_seq', 1, false);


--
-- Name: install_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.install_id_seq', 1, false);


--
-- Name: organization_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.organization_id_seq', 1, true);


--
-- Name: organizationconfig_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.organizationconfig_id_seq', 1, true);


--
-- Name: paymentsconfig_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.paymentsconfig_id_seq', 1, false);


--
-- Name: paymentscourse_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.paymentscourse_id_seq', 1, false);


--
-- Name: paymentsproduct_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.paymentsproduct_id_seq', 1, false);


--
-- Name: paymentsuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.paymentsuser_id_seq', 1, false);


--
-- Name: resourceauthor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.resourceauthor_id_seq', 1, false);


--
-- Name: role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.role_id_seq', 1, false);


--
-- Name: trail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.trail_id_seq', 1, true);


--
-- Name: trailrun_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.trailrun_id_seq', 1, false);


--
-- Name: trailstep_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.trailstep_id_seq', 1, false);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.user_id_seq', 2, true);


--
-- Name: usergroup_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.usergroup_id_seq', 1, false);


--
-- Name: usergroupresource_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.usergroupresource_id_seq', 1, false);


--
-- Name: usergroupuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.usergroupuser_id_seq', 1, false);


--
-- Name: userorganization_id_seq; Type: SEQUENCE SET; Schema: public; Owner: learnhouse
--

SELECT pg_catalog.setval('public.userorganization_id_seq', 2, true);


--
-- Name: activity activity_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.activity
    ADD CONSTRAINT activity_pkey PRIMARY KEY (id);


--
-- Name: assignment assignment_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignment
    ADD CONSTRAINT assignment_pkey PRIMARY KEY (id);


--
-- Name: assignmenttask assignmenttask_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignmenttask
    ADD CONSTRAINT assignmenttask_pkey PRIMARY KEY (id);


--
-- Name: assignmenttasksubmission assignmenttasksubmission_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignmenttasksubmission
    ADD CONSTRAINT assignmenttasksubmission_pkey PRIMARY KEY (id);


--
-- Name: assignmentusersubmission assignmentusersubmission_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignmentusersubmission
    ADD CONSTRAINT assignmentusersubmission_pkey PRIMARY KEY (id);


--
-- Name: block block_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.block
    ADD CONSTRAINT block_pkey PRIMARY KEY (id);


--
-- Name: chapter chapter_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.chapter
    ADD CONSTRAINT chapter_pkey PRIMARY KEY (id);


--
-- Name: chapteractivity chapteractivity_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.chapteractivity
    ADD CONSTRAINT chapteractivity_pkey PRIMARY KEY (id);


--
-- Name: collection collection_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.collection
    ADD CONSTRAINT collection_pkey PRIMARY KEY (id);


--
-- Name: collectioncourse collectioncourse_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.collectioncourse
    ADD CONSTRAINT collectioncourse_pkey PRIMARY KEY (id);


--
-- Name: course course_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.course
    ADD CONSTRAINT course_pkey PRIMARY KEY (id);


--
-- Name: coursechapter coursechapter_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.coursechapter
    ADD CONSTRAINT coursechapter_pkey PRIMARY KEY (id);


--
-- Name: courseupdate courseupdate_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.courseupdate
    ADD CONSTRAINT courseupdate_pkey PRIMARY KEY (id);


--
-- Name: install install_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.install
    ADD CONSTRAINT install_pkey PRIMARY KEY (id);


--
-- Name: organization organization_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.organization
    ADD CONSTRAINT organization_pkey PRIMARY KEY (id);


--
-- Name: organizationconfig organizationconfig_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.organizationconfig
    ADD CONSTRAINT organizationconfig_pkey PRIMARY KEY (id);


--
-- Name: paymentsconfig paymentsconfig_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.paymentsconfig
    ADD CONSTRAINT paymentsconfig_pkey PRIMARY KEY (id);


--
-- Name: paymentscourse paymentscourse_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.paymentscourse
    ADD CONSTRAINT paymentscourse_pkey PRIMARY KEY (id);


--
-- Name: paymentsproduct paymentsproduct_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.paymentsproduct
    ADD CONSTRAINT paymentsproduct_pkey PRIMARY KEY (id);


--
-- Name: paymentsuser paymentsuser_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.paymentsuser
    ADD CONSTRAINT paymentsuser_pkey PRIMARY KEY (id);


--
-- Name: resourceauthor resourceauthor_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.resourceauthor
    ADD CONSTRAINT resourceauthor_pkey PRIMARY KEY (id);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (id);


--
-- Name: trail trail_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.trail
    ADD CONSTRAINT trail_pkey PRIMARY KEY (id);


--
-- Name: trailrun trailrun_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.trailrun
    ADD CONSTRAINT trailrun_pkey PRIMARY KEY (id);


--
-- Name: trailstep trailstep_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.trailstep
    ADD CONSTRAINT trailstep_pkey PRIMARY KEY (id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: usergroup usergroup_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.usergroup
    ADD CONSTRAINT usergroup_pkey PRIMARY KEY (id);


--
-- Name: usergroupresource usergroupresource_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.usergroupresource
    ADD CONSTRAINT usergroupresource_pkey PRIMARY KEY (id);


--
-- Name: usergroupuser usergroupuser_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.usergroupuser
    ADD CONSTRAINT usergroupuser_pkey PRIMARY KEY (id);


--
-- Name: userorganization userorganization_pkey; Type: CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.userorganization
    ADD CONSTRAINT userorganization_pkey PRIMARY KEY (id);


--
-- Name: activity activity_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.activity
    ADD CONSTRAINT activity_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.course(id) ON DELETE CASCADE;


--
-- Name: activity activity_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.activity
    ADD CONSTRAINT activity_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: assignment assignment_activity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignment
    ADD CONSTRAINT assignment_activity_id_fkey FOREIGN KEY (activity_id) REFERENCES public.activity(id) ON DELETE CASCADE;


--
-- Name: assignment assignment_chapter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignment
    ADD CONSTRAINT assignment_chapter_id_fkey FOREIGN KEY (chapter_id) REFERENCES public.chapter(id) ON DELETE CASCADE;


--
-- Name: assignment assignment_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignment
    ADD CONSTRAINT assignment_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.course(id) ON DELETE CASCADE;


--
-- Name: assignment assignment_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignment
    ADD CONSTRAINT assignment_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: assignmenttask assignmenttask_activity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignmenttask
    ADD CONSTRAINT assignmenttask_activity_id_fkey FOREIGN KEY (activity_id) REFERENCES public.activity(id) ON DELETE CASCADE;


--
-- Name: assignmenttask assignmenttask_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignmenttask
    ADD CONSTRAINT assignmenttask_assignment_id_fkey FOREIGN KEY (assignment_id) REFERENCES public.assignment(id) ON DELETE CASCADE;


--
-- Name: assignmenttask assignmenttask_chapter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignmenttask
    ADD CONSTRAINT assignmenttask_chapter_id_fkey FOREIGN KEY (chapter_id) REFERENCES public.chapter(id) ON DELETE CASCADE;


--
-- Name: assignmenttask assignmenttask_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignmenttask
    ADD CONSTRAINT assignmenttask_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.course(id) ON DELETE CASCADE;


--
-- Name: assignmenttask assignmenttask_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignmenttask
    ADD CONSTRAINT assignmenttask_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: assignmenttasksubmission assignmenttasksubmission_activity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignmenttasksubmission
    ADD CONSTRAINT assignmenttasksubmission_activity_id_fkey FOREIGN KEY (activity_id) REFERENCES public.activity(id) ON DELETE CASCADE;


--
-- Name: assignmenttasksubmission assignmenttasksubmission_assignment_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignmenttasksubmission
    ADD CONSTRAINT assignmenttasksubmission_assignment_task_id_fkey FOREIGN KEY (assignment_task_id) REFERENCES public.assignmenttask(id) ON DELETE CASCADE;


--
-- Name: assignmenttasksubmission assignmenttasksubmission_chapter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignmenttasksubmission
    ADD CONSTRAINT assignmenttasksubmission_chapter_id_fkey FOREIGN KEY (chapter_id) REFERENCES public.chapter(id) ON DELETE CASCADE;


--
-- Name: assignmenttasksubmission assignmenttasksubmission_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignmenttasksubmission
    ADD CONSTRAINT assignmenttasksubmission_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.course(id) ON DELETE CASCADE;


--
-- Name: assignmenttasksubmission assignmenttasksubmission_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignmenttasksubmission
    ADD CONSTRAINT assignmenttasksubmission_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: assignmentusersubmission assignmentusersubmission_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignmentusersubmission
    ADD CONSTRAINT assignmentusersubmission_assignment_id_fkey FOREIGN KEY (assignment_id) REFERENCES public.assignment(id) ON DELETE CASCADE;


--
-- Name: assignmentusersubmission assignmentusersubmission_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.assignmentusersubmission
    ADD CONSTRAINT assignmentusersubmission_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: block block_activity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.block
    ADD CONSTRAINT block_activity_id_fkey FOREIGN KEY (activity_id) REFERENCES public.activity(id) ON DELETE CASCADE;


--
-- Name: block block_chapter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.block
    ADD CONSTRAINT block_chapter_id_fkey FOREIGN KEY (chapter_id) REFERENCES public.chapter(id) ON DELETE CASCADE;


--
-- Name: block block_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.block
    ADD CONSTRAINT block_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.course(id) ON DELETE CASCADE;


--
-- Name: block block_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.block
    ADD CONSTRAINT block_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: chapteractivity chapteractivity_activity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.chapteractivity
    ADD CONSTRAINT chapteractivity_activity_id_fkey FOREIGN KEY (activity_id) REFERENCES public.activity(id) ON DELETE CASCADE;


--
-- Name: chapteractivity chapteractivity_chapter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.chapteractivity
    ADD CONSTRAINT chapteractivity_chapter_id_fkey FOREIGN KEY (chapter_id) REFERENCES public.chapter(id) ON DELETE CASCADE;


--
-- Name: chapteractivity chapteractivity_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.chapteractivity
    ADD CONSTRAINT chapteractivity_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.course(id) ON DELETE CASCADE;


--
-- Name: chapteractivity chapteractivity_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.chapteractivity
    ADD CONSTRAINT chapteractivity_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: collection collection_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.collection
    ADD CONSTRAINT collection_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: collectioncourse collectioncourse_collection_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.collectioncourse
    ADD CONSTRAINT collectioncourse_collection_id_fkey FOREIGN KEY (collection_id) REFERENCES public.collection(id) ON DELETE CASCADE;


--
-- Name: collectioncourse collectioncourse_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.collectioncourse
    ADD CONSTRAINT collectioncourse_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.course(id) ON DELETE CASCADE;


--
-- Name: collectioncourse collectioncourse_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.collectioncourse
    ADD CONSTRAINT collectioncourse_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: course course_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.course
    ADD CONSTRAINT course_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: coursechapter coursechapter_chapter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.coursechapter
    ADD CONSTRAINT coursechapter_chapter_id_fkey FOREIGN KEY (chapter_id) REFERENCES public.chapter(id) ON DELETE CASCADE;


--
-- Name: coursechapter coursechapter_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.coursechapter
    ADD CONSTRAINT coursechapter_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.course(id) ON DELETE CASCADE;


--
-- Name: coursechapter coursechapter_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.coursechapter
    ADD CONSTRAINT coursechapter_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: courseupdate courseupdate_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.courseupdate
    ADD CONSTRAINT courseupdate_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.course(id) ON DELETE CASCADE;


--
-- Name: courseupdate courseupdate_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.courseupdate
    ADD CONSTRAINT courseupdate_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: organizationconfig organizationconfig_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.organizationconfig
    ADD CONSTRAINT organizationconfig_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: paymentsconfig paymentsconfig_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.paymentsconfig
    ADD CONSTRAINT paymentsconfig_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: paymentscourse paymentscourse_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.paymentscourse
    ADD CONSTRAINT paymentscourse_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: paymentscourse paymentscourse_payment_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.paymentscourse
    ADD CONSTRAINT paymentscourse_payment_product_id_fkey FOREIGN KEY (payment_product_id) REFERENCES public.paymentsproduct(id) ON DELETE CASCADE;


--
-- Name: paymentsproduct paymentsproduct_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.paymentsproduct
    ADD CONSTRAINT paymentsproduct_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: paymentsproduct paymentsproduct_payments_config_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.paymentsproduct
    ADD CONSTRAINT paymentsproduct_payments_config_id_fkey FOREIGN KEY (payments_config_id) REFERENCES public.paymentsconfig(id) ON DELETE CASCADE;


--
-- Name: paymentsuser paymentsuser_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.paymentsuser
    ADD CONSTRAINT paymentsuser_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: paymentsuser paymentsuser_payment_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.paymentsuser
    ADD CONSTRAINT paymentsuser_payment_product_id_fkey FOREIGN KEY (payment_product_id) REFERENCES public.paymentsproduct(id) ON DELETE CASCADE;


--
-- Name: paymentsuser paymentsuser_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.paymentsuser
    ADD CONSTRAINT paymentsuser_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: resourceauthor resourceauthor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.resourceauthor
    ADD CONSTRAINT resourceauthor_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: role role_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: trail trail_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.trail
    ADD CONSTRAINT trail_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: trail trail_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.trail
    ADD CONSTRAINT trail_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: trailrun trailrun_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.trailrun
    ADD CONSTRAINT trailrun_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.course(id) ON DELETE CASCADE;


--
-- Name: trailrun trailrun_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.trailrun
    ADD CONSTRAINT trailrun_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: trailrun trailrun_trail_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.trailrun
    ADD CONSTRAINT trailrun_trail_id_fkey FOREIGN KEY (trail_id) REFERENCES public.trail(id) ON DELETE CASCADE;


--
-- Name: trailrun trailrun_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.trailrun
    ADD CONSTRAINT trailrun_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: trailstep trailstep_activity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.trailstep
    ADD CONSTRAINT trailstep_activity_id_fkey FOREIGN KEY (activity_id) REFERENCES public.activity(id) ON DELETE CASCADE;


--
-- Name: trailstep trailstep_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.trailstep
    ADD CONSTRAINT trailstep_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.course(id) ON DELETE CASCADE;


--
-- Name: trailstep trailstep_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.trailstep
    ADD CONSTRAINT trailstep_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: trailstep trailstep_trail_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.trailstep
    ADD CONSTRAINT trailstep_trail_id_fkey FOREIGN KEY (trail_id) REFERENCES public.trail(id) ON DELETE CASCADE;


--
-- Name: trailstep trailstep_trailrun_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.trailstep
    ADD CONSTRAINT trailstep_trailrun_id_fkey FOREIGN KEY (trailrun_id) REFERENCES public.trailrun(id) ON DELETE CASCADE;


--
-- Name: trailstep trailstep_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.trailstep
    ADD CONSTRAINT trailstep_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: usergroup usergroup_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.usergroup
    ADD CONSTRAINT usergroup_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: usergroupresource usergroupresource_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.usergroupresource
    ADD CONSTRAINT usergroupresource_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: usergroupresource usergroupresource_usergroup_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.usergroupresource
    ADD CONSTRAINT usergroupresource_usergroup_id_fkey FOREIGN KEY (usergroup_id) REFERENCES public.usergroup(id) ON DELETE CASCADE;


--
-- Name: usergroupuser usergroupuser_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.usergroupuser
    ADD CONSTRAINT usergroupuser_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: usergroupuser usergroupuser_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.usergroupuser
    ADD CONSTRAINT usergroupuser_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: usergroupuser usergroupuser_usergroup_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.usergroupuser
    ADD CONSTRAINT usergroupuser_usergroup_id_fkey FOREIGN KEY (usergroup_id) REFERENCES public.usergroup(id) ON DELETE CASCADE;


--
-- Name: userorganization userorganization_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.userorganization
    ADD CONSTRAINT userorganization_org_id_fkey FOREIGN KEY (org_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: userorganization userorganization_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.userorganization
    ADD CONSTRAINT userorganization_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.role(id);


--
-- Name: userorganization userorganization_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: learnhouse
--

ALTER TABLE ONLY public.userorganization
    ADD CONSTRAINT userorganization_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- PostgreSQL database dump complete
--

